@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
html,
body {
     background-color: blanchedalmond; 
    font-family: 'Lucida Bright';
}

header {
    max-width: 1000px;
    padding-left: 40px;
}


#left-text {
    color: #000;
    width: 700px;
    height: 200px;
    border-right: 1px solid gray;
    float: left;
    text-align: center;
}
#left-text h1{
    color: #000;
}
#left-text a{
    float: left;
}
#left-text p{
    color: red;
    float: left;

}

#right-img {
    width: 200px;
    float: right;
}

.clear-float {
    clear: both;
}

section {
    margin-top: 70px;
    margin-bottom: 70px;
    padding-left: 40px;
    padding-right: 40px;
}


section h3 {
    color: darkcyan;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 0px  0px;
}
section h3 span{
    color: red;
}

.section-alt {
    background-color: #ffffff;
}

#bio-data {
    width: 400px;
    float: left;
}



#first {
    max-width: inherit;
    padding-left: 40px;
}

/*Hyper Links*/
a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
  
}

a:hover {
    padding: 10px;
    border-radius: 9px;
   
    color: rgb(246, 62, 105);
    
}
/* fooster  */
.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

